# Install below libraries

In [ ]:
!pip3 install ipython-sql

In [ ]:
!pip3 install mysqlclient

# load Sql 
ever time you start the notebook or restart the notebook serve. 
To reload it, use:
  ### %reload_ext sql

In [ ]:

%load_ext sql

# Make Connection to Mysql server

In [8]:
%sql mysql+mysqldb://username:password@localhost
#%sql mysql+mysqldb://username:password@localhost/dbname

In [11]:
%%sql

Show databases;
use practice;
show tables;

 * mysql+mysqldb://root:***@localhost
8 rows affected.
0 rows affected.
7 rows affected.

[('ab',),
 ('ac',),
 ('man',),
 ('manufacturers',),
 ('pro',),
 ('products',),
 ('t',)]

In [16]:
%%sql
select * from manufacturers;

 * mysql+mysqldb://root:***@localhost
6 rows affected.

[(1, 'Sony'),
 (2, 'Creative Labs'),
 (3, 'Hewlett-Packard'),
 (4, 'Iomega'),
 (5, 'Fujitsu'),
 (6, 'Winchester')]

In [1]:
%load_ext sql

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql